In [5]:
import textacy
import spacy
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
text=["kolkata big city india trade","mumbai financial capital india","delhi capital india","kolkata capital colonial times",
     "bangalore tech hub india software","mumbai hub trade commerce stock exchange","kolkata victoria memorial","delhi india gate",
      "mumbai gate way india trade business","delhi red fort india","kolkata metro oldest india",
      "delhi metro largest metro network india"]

In [23]:
count_vec = CountVectorizer(ngram_range=(2,2))
word_count = count_vec.fit_transform(text)

In [24]:
word_count.toarray()

array([[0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0]])

In [25]:
tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count)

TfidfTransformer()

In [26]:
print(tfidf_transformer.idf_)
print(count_vec.get_feature_names())

[2.87180218 2.87180218 2.87180218 2.46633707 2.87180218 2.87180218
 2.87180218 2.87180218 2.87180218 2.87180218 2.87180218 2.87180218
 2.87180218 2.87180218 2.87180218 2.87180218 2.87180218 2.87180218
 2.46633707 2.87180218 2.87180218 2.87180218 2.87180218 2.87180218
 2.87180218 2.87180218 2.87180218 2.87180218 2.87180218 2.87180218
 2.87180218 2.87180218 2.87180218 2.87180218 2.87180218 2.87180218
 2.87180218 2.87180218 2.87180218]
['bangalore tech', 'big city', 'capital colonial', 'capital india', 'city india', 'colonial times', 'commerce stock', 'delhi capital', 'delhi india', 'delhi metro', 'delhi red', 'financial capital', 'fort india', 'gate way', 'hub india', 'hub trade', 'india gate', 'india software', 'india trade', 'kolkata big', 'kolkata capital', 'kolkata metro', 'kolkata victoria', 'largest metro', 'metro largest', 'metro network', 'metro oldest', 'mumbai financial', 'mumbai gate', 'mumbai hub', 'network india', 'oldest india', 'red fort', 'stock exchange', 'tech hub', 'trade business', 'trade commerce', 'victoria memorial', 'way india']

/Users/eliranboraks/opt/anaconda3/envs/python38/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [27]:
df_idf = pd.DataFrame(tfidf_transformer.idf_, index=count_vec.get_feature_names(),columns=["idf_weights"])
df_idf = df_idf.sort_values(by=['idf_weights'])

In [35]:
df_idf.head(5)

                  idf_weights
capital india        2.466337
india trade          2.466337
bangalore tech       2.871802
kolkata metro        2.871802
kolkata victoria     2.871802

In [29]:
tfidf_vec = tfidf_transformer.transform(word_count)

<12x39 sparse matrix of type '<class 'numpy.float64'>'
	with 41 stored elements in Compressed Sparse Row format>

In [36]:
print(tfidf_vec.shape)

(12, 39)

In [43]:
first_doc_vec = tfidf_vec[1]
print(first_doc_vec)
print(first_doc_vec.T.todense())

  (0, 27)	0.6043915496769748
  (0, 11)	0.6043915496769748
  (0, 3)	0.5190584835624306
[[0.        ]
 [0.        ]
 [0.        ]
 [0.51905848]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.60439155]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.60439155]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]
 [0.        ]]

In [61]:
df_tf_idf = pd.DataFrame(tfidf_vec[0].T.todense(), index=count_vec.get_feature_names(), columns=["td_idf"])
df_tf_idf = df_tf_idf.sort_values(by=["td_idf"],ascending=False)
df_tf_idf

/Users/eliranboraks/opt/anaconda3/envs/python38/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

                     td_idf
kolkata big        0.517257
big city           0.517257
city india         0.517257
india trade        0.444226
mumbai hub         0.000000
largest metro      0.000000
metro largest      0.000000
metro network      0.000000
metro oldest       0.000000
mumbai financial   0.000000
mumbai gate        0.000000
network india      0.000000
kolkata metro      0.000000
oldest india       0.000000
red fort           0.000000
stock exchange     0.000000
tech hub           0.000000
trade business     0.000000
trade commerce     0.000000
victoria memorial  0.000000
kolkata victoria   0.000000
bangalore tech     0.000000
kolkata capital    0.000000
delhi metro        0.000000
capital colonial   0.000000
capital india      0.000000
colonial times     0.000000
commerce stock     0.000000
delhi capital      0.000000
delhi india        0.000000
delhi red          0.000000
india software     0.000000
financial capital  0.000000
fort india         0.000000
gate way           0.000000
hub india          0.000000
hub trade          0.000000
india gate         0.000000
way india          0.000000

In [51]:
vectorizer = TfidfVectorizer(ngram_range=(2,2), stop_words=['english'])

In [52]:
X = vectorizer.fit_transform(text)

In [53]:
X

<12x39 sparse matrix of type '<class 'numpy.float64'>'
	with 41 stored elements in Compressed Sparse Row format>

In [57]:
text_vec = vectorizer.transform(text)

In [58]:
text_vec[0]

<1x39 sparse matrix of type '<class 'numpy.float64'>'
	with 4 stored elements in Compressed Sparse Row format>

In [59]:
vectorizer.inverse_transform(text_vec[0])

[array(['kolkata big', 'india trade', 'city india', 'big city'],
       dtype='<U17')]

In [60]:
text[0]

'kolkata big city india trade'